
main {
  width: 901px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

header #logo {
  float: left;
  padding-right: 10px;
}

.delicious_heading h1 {
  font-family: Brush Script MT;
  font-size: 42px;
  font-weight: bolder;
  color: #333333;
  letter-spacing: 1px;
}

.delicious_heading p {
  font-size: 18px;
  color: #B1B1B1;
  font-family: Myriad Arabic;
  padding-bottom: 30px;
  letter-spacing: -1px;
  line-height: .3;
}

.social_logos ul li {
  margin-bottom: 70px;
  display: inline-block;
}

.social_logos li:nth-child(7) {
  margin-left: 7px;
}

.social_logos {
  position: absolute;
  top: 65px;
  left: 940px;
}

.top_border {
    height: 14px;
    width: 901px;
    margin-bottom: 40px;
    margin: 1px;
    background-image:
     repeating-linear-gradient(
       45deg,
       white,
       white 2px,
       #D3D3D3 1px,
       #D3D3D3 3px
     );
  }


.title {
  margin-top: 50px;
}

h2 {
  font-weight: bold;
  font-size: 42px;
  font-family: Avenir Next Condensed;
  color: #333333;
}

.title p {
  font-family: Avenir Next;
  font-size: 14px;
  color: #B1B1B1;
}

#print, #printer {
  float: right;
  display: inline-block;
  color: #B1B1B1;
  font-family: Myriad Arabic;
  font-size: 20px;
}

.pizza_img {
  margin-top: 40px;
  padding-bottom: 20px;
}

.paragraph p{
  font-family: Avenir Next;
  font-size: 18px;
  color: #929292;
  font-weight: 500;
  text-indent: 25px;
  line-height: 130%;
}

.list {
  margin-top: 40px;
  padding-bottom: 30px;
}

.ingredients {
  position: absolute;
  top: 1260px;
  left: 350px;
  clear: left;
  font-family: Avenir Next;
  font-size: 22px;
  color: #767676;
  line-height: 130%;
  font-weight: 500;

}

.ingredients2 {
  position: absolute;
  top: 1260px;
  left: 700px;
  clear: left;
  font-family: Avenir Next;
  font-size: 22px;
  color: #767676;
  line-height: 130%;
  font-weight: 500;
}

.bottom_border {
  height: 14px;
  width: 901px;
  margin: 1px;
  background-image:
   repeating-linear-gradient(
     45deg,
     white,
     white 2px,
     #D3D3D3 1px,
     #D3D3D3 3px
   );
}

.venessa_img {
  margin-top: 20px;
  float: left;
  margin: 15px;
  margin-bottom: 20px;
}

.name h6 {
  margin-top: 25px;
  font-weight: bold;
  font-family: halvetica;
  font-size: 22px;
  color: #333333;
}

.name p {
  font-family: halverica;
  font-size: 20px;
  color: #767676;
}

.button {
  position: absolute;
  left: 990px;
  top: 1600px;;
  height: 50px;
  width: 180px;
  border: 1px solid #BA745C;
  background: #BA745C;
}

footer {
  float: left;
  margin-left: 230px;
  margin-top: 50px;
  text-align: center;
  line-height: 120%;
  font-size: 18px;
  color: #B1B1B1;
  font-family: halvetica;
}

hr {
  position: relative;
}
